extends layout.pug

block content
  .clearfix
      ul.list-group
        each article in articles
          li.list-group-item
            a(href="/item/"+article.id)= article.title
            p= article.body
      .clearfix
        a(href="/submit") 添加新闻

      .clear
        form(action="/upload", method="POST", enctype="multipart/form-data")
          input(type="file", name="avatar")
          button(type="submit") 上传
